<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE></title>
<TMPL_IF NAME="FAVICON">
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<TMPL_IF NAME="LOCAL_CSS">
<link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
<TMPL_ELSE>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
</TMPL_IF>
<TMPL_IF NAME="EDITURL">
<link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
</TMPL_IF>
<TMPL_IF NAME="FEEDLINKS"><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF NAME="RELVCS"><TMPL_VAR RELVCS></TMPL_IF>
<TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
</head>
<body>
<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">
<TMPL_LOOP NAME="PARENTLINKS">
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> &rsaquo;&rsaquo;   
</TMPL_LOOP>
</span>
<span class="title">
<TMPL_VAR TITLE>
<TMPL_IF NAME="ISTRANSLATION">
&nbsp;(<TMPL_VAR NAME="PERCENTTRANSLATED">%)
</TMPL_IF>
</span>
</span><!--.header-->
</div>

<TMPL_IF NAME="OTHERLANGUAGES">
<div id="otherlanguages">
<ul>
<TMPL_LOOP NAME="OTHERLANGUAGES">
<li>
<a href="<TMPL_VAR NAME="URL">"><TMPL_VAR NAME="LANGUAGE"></a>
<TMPL_IF NAME="MASTER">
(master)
<TMPL_ELSE>
&nbsp;(<TMPL_VAR NAME="PERCENT">%)
</TMPL_IF>
</li>
</TMPL_LOOP>
</ul>
</div> <!-- #otherlanguages -->
</TMPL_IF>

</div> <!-- .pageheader -->

<TMPL_IF SIDEBAR>
<div id="sidebar">
<TMPL_VAR SIDEBAR>
<TMPL_IF NAME="SEARCHFORM">
<TMPL_VAR SEARCHFORM>
</TMPL_IF>
</div>
</TMPL_IF>

<TMPL_IF NAME="HAVE_ACTIONS">
<div id="actions_sidebar"> 
<div class="actions">
<h1>Actions</h1>
<ul>
<TMPL_IF NAME="EDITURL">
<li><a href="<TMPL_VAR EDITURL>" rel="nofollow">Edit</a></li>
</TMPL_IF>
<TMPL_IF NAME="RECENTCHANGESURL">
<li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
</TMPL_IF>
<TMPL_IF NAME="HISTORYURL">
<li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
</TMPL_IF>
<TMPL_IF NAME="GETSOURCEURL">
<li><a href="<TMPL_VAR GETSOURCEURL>">Source</a></li>
</TMPL_IF>
<TMPL_IF NAME="PREFSURL">
<li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
</TMPL_IF>
<TMPL_IF NAME="COMMENTSLINK">
<li><TMPL_VAR COMMENTSLINK><br /></li>
<TMPL_ELSE>
<TMPL_IF NAME="DISCUSSIONLINK">
<li><TMPL_VAR DISCUSSIONLINK><br /></li>
</TMPL_IF>
</TMPL_IF>
</ul>
</div>
</div>
</TMPL_IF>

<div id="content">
<TMPL_VAR CONTENT>
</div>

<TMPL_IF COMMENTS>
<div id="comments">
<TMPL_VAR COMMENTS>
<TMPL_IF ADDCOMMENTURL>
<div class="addcomment">
<a href="<TMPL_VAR ADDCOMMENTURL>">Add a comment</a>
</div>
<TMPL_ELSE>
<div class="addcomment">Comments on this page are closed.</div>
</TMPL_IF>
</div>
</TMPL_IF>

<div id="footer" class="pagefooter">
<div id="pageinfo">

<TMPL_IF NAME="TAGS">
<div class="tags">
Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR LINK>
</TMPL_LOOP>
</div>
</TMPL_IF>

<TMPL_IF NAME="BACKLINKS">
<div id="backlinks">
Links:
<TMPL_LOOP NAME="BACKLINKS">
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
<TMPL_IF NAME="MORE_BACKLINKS">
<span class="popup">...
<span class="balloon">
<TMPL_LOOP NAME="MORE_BACKLINKS">
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
</span>
</span>
</TMPL_IF>
</div><!-- #backlinks -->
</TMPL_IF>

<TMPL_IF COPYRIGHT>
<div class="pagecopyright">
<a name="pagecopyright"></a>
<TMPL_VAR COPYRIGHT>
</div>
</TMPL_IF>

<TMPL_IF LICENSE>
<div class="pagelicense">
<a name="pagelicense"></a>
License: <TMPL_VAR LICENSE>
</div>
</TMPL_IF>

<div class="pagedate">
Last edited <TMPL_VAR MTIME>
<!-- Created <TMPL_VAR CTIME> -->
from https://salsa.debian.org/backports-team/backports-website
</div>

</div><!-- #pageinfo -->
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
<!-- from <TMPL_VAR WIKINAME> -->
</div><!-- .pagefooter #footer -->
</body>
</html>
